@use "variables" as *;

body {
    margin: 0;
    font-family: "Rokkitt", serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: $background-color-secondary;
    gap: 50px;
}

.header-logo {
    width: 50px;
    height: auto;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.header-menu-item a {
    text-decoration: none;
    color: $color-header;
    font-weight: 700;
    font-size: 20px;
}

.hero {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-bottom: -5px;
}

.hero-image {
    width: 100%;
    height: 800px;
    object-fit: cover;
    filter: brightness(50%);
}

.hero-text {
    position: absolute;
    top: 85%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 2;
    color: $color-header
}

.hero-title {
    font-size: 48px;
    margin: 0;
}

.hero-description {
    font-size: 24px;
    margin-top: 10px;
    width: 500px;
    margin-bottom: 0;
}

.Product {
    background-color: $background-color-secondary;
    height: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor {
    max-width: 1000px;
}

.Product-description P {
    color: $color-header;
    font-size: 18px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.product-item {
    max-width: 1000px;
}

.Product-title {
    color: $color-header;
    font-size: 36px;
    display: flex;
    justify-content: start;
}

.Product-detail {
    display: flex;
    justify-content: space-between;
}

.Product-detail-item {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: $color-header;
}

.Product-detail-item-description {
    font-size: 20px;
    margin-top: 10px;
}

.Product-detail-item-disponible {
    font-size: 20px;
    margin-top: 10px;
}

.variedades {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-variedades {
    max-width: 1000px;
}


.variedades-title {
    color: $color-primary;
    font-size: 36px;
    display: flex;
    justify-content: start;
}

.espaciador {
    height: 100px;
}

.variedades-modelos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.variedades-modelos-item-description {
    color: $color-secondary;
    font-size: 20px;
}

.footer{
    background-color: $background-color-secondary;
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 600px;
    padding: 50px;
}

.footer-logo {
    width: 50px;
    height: auto;
}


.footer-menu-list{
    list-style: none;

}

.footer-menu-list li{
    margin-bottom: 10px;
}

.footer-menu-list li a{
    color: $color-header;
    text-decoration: none;
}